#userGreeting .userText {padding-right: 8px;}
#UOP_appTabSuperBrie {float: right;}
#UOP_appTabSuperBrie .picture{
	background-size: 100%;
	background-image: url("/images/SuperBrie.gif");
}
#appInboxTab {
	margin-left: 0px;
	cursor: pointer;
}
#appInboxTab span {
	color: #4DA55A;
	background-image: url("/images/hgrow_middle_blue.png");
	cursor: pointer;
}
#appInboxTab .alerts {
	background-image: url("/images/alert_badge.png");
	position: relative;
	right: -33px;
	top: -23px;
	z-index: 10;
	width: 22px;
	height: 20px;
	padding-top: 2px;
	color: white;
	text-align: center;
	font-weight: bold;
	margin: 0;
	cursor: pointer;
}
.freeoffers_button {right: 0px!important;}
.marketplace_button {margin: 49px 0px 0px -514px!important;}
.convertibledetails input[type="text"] {width:50px}
#btn-friend {margin: 70px 0px 0px 20px; background: url("/images/navbuttons.en.gif") no-repeat -313px -38px;
	width: 74px;
	height: 26px;
}
#campButton {
	height: 26px;
	width: 69px;
	background: url("/images/navbuttons.en.gif") no-repeat 0px 0px;
	background-size: 600%;
}
#hud_baitQuantity {position: absolute;
	right: 44px;
	z-index: 10;
	text-align: center;
	cursor: pointer;
	padding: 3px 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0 none;
	color: #fff;
	background-color: #549906;
	background-image: -webkit-gradient(linear, center bottom, center top, from(#549906), to(#92c315));
	background-image: -moz-linear-gradient(90deg, #549906, #92c315);
	font-weight: bold;
}
#UOP_imagePhotoZoomBox {
	opacity: 0;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	-webkit-transition-duration: 0s;
	-moz-transition: opacity 0s ease-in-out;
	-webkit-transition: opacity 0s ease-in-out;
	transition: opacity 0s ease-in-out;
	position: absolute;
	overflow: hidden;
	font-size: 0;
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,1);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,1);
	box-shadow: 0px 0px 10px rgba(0,0,0,1);
	min-height: 50px;
	min-width: 50px;
	pointer-events: none;
	background: white url("/images/zoomboxloading.gif") no-repeat center center;
	z-index: 99999;
}
#UOP_imagePhotoZoomPhoto {
	position: relative;
	z-index: 2;
	width: auto;
	height: auto;
}
#hgDropDownCommunity {right: 91px;}
#hgDropDownSupport {right: 5px;}
.gamelogo {
	background-image:url("/images/LGS.png") !important;
	transition: opacity 2s;
}
#UOP_LGSTimerDayLeft {
	position: relative;
	top: -115px;
	text-align: center;
	color: white;
	font-weight: bold;
}
#UOP_LGSTimerDay {
	position: relative;
	font-weight: bolder;
	text-align: center;
	color: white;
}
.UOP_LGSTimerDay {
	top: -115px;
	left: 41px;
	width: 50px;
	font-size: 24px;
}
.UOP_LGSTimerToday {
	top: -100px;
	font-size: 20px;
}
.UOP_LGSTimerToday + #UOP_LGSTimerDayLeft {
	display: none;
}
#UOP_LGSTimerHourMin {
	position: relative;
	top: -41px;
	color: #9A1107;
	font-size: 17px;
	font-weight: bolder;
	text-align: center;
}
#UOP_simpleSkin {float: left;}
#UOP_simpleSkin .picture {
	background: url("/images/simpleskinbutton.png");
}
#UOP_campTravel {
	background: transparent url("/images/head_larry.png") no-repeat scroll left top;
}
#UOP_campTravel>.header {
	height: 50px;
	margin-bottom: 4px;
	padding: 25px 0 8px 90px;
}
#UOP_campTravel .environment {
	font-size: 16px;
	font-weight: bold;
}
#UOP_campTravel .byline {
	padding: 1px 0 2px;
}
#UOP_campTravel>.footer {
	margin-top: 0px;
	background: transparent url("/images/content_foot.png") 0 0 no-repeat;
}
#UOP_campTravel .content>div {
	display: inline-block;
	margin-right: 5px;
}
#UOP_travelcontentChild {
	background: transparent url("/images/content_body.png") 0 0 repeat-y;
	padding: 1px 15px 2px;
}
.UOP_waitingTab {
	display: block!important;
	background: url("/images/mouse_loading_large.gif") center center no-repeat;
	height: 300px;
}
#UOP_travelcontentChild>div:first-child {margin-top: 5px;}
.UOP_groupPlacesArea {display:inline-block;float: left;}
.UOP_groupPlacesDiv.Normal {display:inline-block;margin-right: 15px;float: right;overflow: hidden;}
.UOP_groupPlacesDiv.Mobile {display:inline-block;margin-left: 10px;float: left;overflow: hidden;}
.UOP_buttonTravel  {
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	color:#333;
	border-radius:5px;
	border:none;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:11px;
	font-weight:700;
	text-transform:uppercase;
	padding: 4px 9px;
	cursor:pointer;
	margin-bottom: 5px;
	height: 22px;
	line-height: 22px;
}
.UOP_travelRegionMobile {
	text-align:center;
	background-color:#F16C9D;
	margin-left: 5px;
	margin-right: 10px;
}
.UOP_travelRegionMobile:hover {background-color:#F5518D;}
.UOP_travelPlaceMobile {background-color:#61A2DB;color:#fff;}
.UOP_travelPlaceMobile:hover {background-color: #4094DD;}
.UOP_travelPlaceMobileImpossible {background-color:#acacac;color:#fff;}
.UOP_travelPlaceMobileImpossible:hover {background-color: #bdbdbd;}
.UOP_travelRegion {background-color:#12CC28;}
.UOP_travelRegion:hover {background-color: #4CCF5C;}
.UOP_travelPlaceDiv {
	color:#333;
	border:none;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:11px;
	font-weight:700;
	text-transform:uppercase;
	cursor:pointer;
	margin-bottom: 5px;
	text-align:center;
	float: right;
}
.UOP_travelPlaceDiv>div {
	height:18px;
	line-height: 18px;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	padding: 4px 9px;
	display:inline-block;
}
.UOP_travelPlaceDiv .UOP_travelPlaceName {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-right: 0px;
	color: #fff;
	background-color:#61A2DB;
}
.UOP_travelPlaceDiv .UOP_travelPlaceCost {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color:#FFE661;
	min-width: 24px;
}
.UOP_travelPlaceDiv .UOP_travelPlaceImpossible {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color:#bdbdbd;
	min-width: 24px;
}
.UOP_travelPlaceDiv:hover .UOP_travelPlaceName {background-color:#4094DD;}
.UOP_travelPlaceDiv:hover .UOP_travelPlaceCost {background-color:gold;}
.UOP_travelPlaceDiv:hover .UOP_travelPlaceImpossible {background-color:#acacac;}