#GiftSelectorHeader .headerTitle, #GiftSelectorHeader .giftText{width: 200px;}
#GiftSelectorMenu {display: none!important;}
.giftlist.claimGifts .giftbox {
	width: 112px;
	min-height: 148px;
	white-space: nowrap;
}
#giftSelectorContainer .friendList a.friend {width: 65px;}
#giftSelectorContainer .friendList .actions {width: auto;}
.free_gift_container {
	width: auto;
}
.paid_gift_container {
	margin-left: 0px;
	width: auto;
	float: left;
}