.itempurchase .purchasecontrol {
	width: 200px;
	min-height: 0px;
}
.itempurchase .name {
	font-weight: bold;
	font-size: 1.3em;
}
#UOP_tabbarControls_page {
	padding-left: 0px;
}
#UOP_tabbarControls_page>ul {
	padding-top: 3px;
}
.UOP_shopControl {
	width: auto!important;
	padding-left: 5px!important;
	padding-right: 5px!important;
}