.recipeitemdetails {
	height: auto;
	padding: 0px;
	width: auto;
}
#recipeClippingMask, #recipeContentContainer {width:auto;}
#recipeClippingMask .classification {width: 350px;}
#recipeContainer .scrollUp, #recipeContainer .scrollDown {right: 10px;}
#recipeClassifications {margin-left: 10px;}
#recipeContentContainer {margin-left: 0px;}
.craftingContainer .top {padding-top: 0px;}
.craftingTabs a {padding-right: 6px;}
.craftingTabs li {margin-left: -5px;}